NODE_ENV=development
PORT=2905
APP_URL=http://127.0.0.1:${PORT}
APP_NAME=
APP_ADDRESS=

DATABASE_URL=

ALLOWED_ORIGINS=https://yoursite.com,http://mysite.com

JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_AUTH_EXPIRES_IN=7d

APP_INSIGHT_CONNECTION_STRING=

HIKER_API_KEY=

# Discord webhooks
DISCORD_INSTALLS_WEBHOOK_URL=
DISCORD_REVENUECAT_WEBHOOK_URL=
DISCORD_SHARES_WEBHOOK_URL=
DISCORD_CRON_UPDATES_WEBHOOK_URL=
DISCORD_ERRORS_WEBHOOK_URL=
DISCORD_AUTH_LOGS_WEBHOOK_URL=
DISCORD_AUTH_FEEDBACK_WEBHOOK_URL=
DISCORD_FEEDBACK_WEBHOOK_URL=
DISCORD_APP_HEALTH_WEBHOOK_URL=
DISCORD_ANALYSIS_WEBHOOK_URL=

OPENAI_API_KEY=
GEMINI_API_KEY=
MISTRAL_API_KEY=
GENDERAPI_API_KEY=

ONESIGNAL_APP_ID=
ONESIGNAL_API_KEY=

IP_API_KEY=

REVENUECAT_WEBHOOK_SECRET=
REVENUECAT_SECRET_KEY=
